
.status{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  height: 4.3rem;
  width: 100%;
  background-color:rgb(41, 41, 41);
  font-size: 1.5rem;

}

.text{
  box-sizing: border-box;
  height: 85vh;
  text-align: left;
  padding: 10px;
  font-size: 110%;
  overflow: auto;
}


.text h3{
  font-weight: 300;
}

.left{
  margin-left: 5px;
  display: flex;
  flex-direction:column;
}

.progress{
  display: flex;
  margin-right: 0;
  width: 15rem;
}

.frecce{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
}

.frecce button{
  cursor: pointer;
  border: none;
  background-color:#292929;
  padding: 0;
  width: 7rem;
  margin-right: 10px;
}
