.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #282828;
  color: #b3b3b3;
  margin-top: 0;
  height: 60px;
}

.logo {
	height: 90%;
 margin-left: 0.5rem;
 margin-top: 0.2rem;
}

.signBut {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  border: none;
  height: 2.2rem;
  position: relative;
  right: 3rem;
  top: 25%;
  width: 6rem;
  background-color: #ff9900;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ff9900;
}

.signBut:hover {
  background-color: white;
  color: #ff9900;
}

.user {
  justify-content: flex-end;
  margin-right: 2rem;
  width: 15rem;
  display: flex;
  gap: 5px;
}

.logoutBut {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  border: none;
  margin-left: 1rem;
  height: 2.2rem;
  top: 25%;
  position: relative;
  width: 6rem;
  background-color: #ff9900;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ff9900;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 5px;
  margin-bottom: 4px;
}

.user img:hover {
  border-radius: 50%;
  border: 3px #ff9900 solid;
  box-shadow: #ff9900 0px 0px 10px 1px;
}

.coin {
  width: 38px;
  height: 38px;
  margin-right: 4px;
  margin-left: 1rem;
}

.middle div {
  width: 150px;
  display: flex;
  gap: 10px;
}

.lb {
  width: 38px;
  height: 38px;
  margin-left: 1rem;
	cursor: pointer;
}

.leaderboard-wrapper {
  position: relative;
}

.position-box {
	background-color: rgb(40, 40, 40);
	border-radius: 10%;
  position: absolute;
  top: 130%; /* Posiziona il riquadro sotto l'immagine */
	right: 5%; 
  width: 14rem !important;
	height: 20rem;
	border: 3px solid #a60a0a;
	z-index: 1; 
	display: flex;
	flex-direction: column;

  /* Altri stili per il riquadro */
}

#leaderboard-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.leader {
	color: #ddd4d4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #000000;
}

.leader .username {
  flex-grow: 1;
  margin-right: 1rem;
}

.leader .level {
  margin-right: 2.5rem;
}

.leader .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
	margin-right: 0.5rem;
}

.leader:nth-child(even) {
  background-color: #a60a0a
}

.leader:nth-child(5) {
  border: none;
}

#leaderboard-table {
	background-color: #a60a0a
	
}

