.navbar{
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: rgb(40,40,40);
	color: #b3b3b3;
	margin-top: 0;
	height: 60px;

}

.logo{
	position: relative;
	left: 10px;
	top:10px;
}

.signBut{
	text-align: center;
	color: white;
	font-size: 1.2rem;
	text-decoration: none;
	cursor: pointer;
	border: none;
	height: 2.2rem;
	position: relative;
	right: 3rem;
	top: 25%;
	width: 6rem;
	background-color: #ff9900;
	border-radius: 10px;
	box-shadow: 0px 0px 6px  #ff9900;
}

.signBut:hover{
	background-color: white;
	color: #ff9900 ;
}

.user{
	justify-content: flex-end;
	margin-right: 2rem;
	width: 15rem;
	display: flex;
	gap: 5px;
}

.logoutBut{
	text-align: center;
	color: white;
	font-size: 1.2rem;
	text-decoration: none;
	cursor: pointer;
	border: none;
	margin-left: 1rem;
	height: 2.2rem;
	top: 25%;
	position: relative;
	width: 6rem;
	background-color: #ff9900;
	border-radius: 10px;
	box-shadow: 0px 0px 6px  #ff9900;
}

.user img{
	margin-top: 4px;
	margin-bottom: 4px;
}



